.App {
  margin: 30vh auto;
  width: 95%;
}

/* utility classes */
.text-center {
  text-align: center;
}

.error {
  color: red;
  font-size: 0.7rem;
  padding: 5px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.download-add-btns {
  margin-top: 20px;
  display: flex;
}

@media only screen and (min-width: 700px) {
  .App {
    margin: 30vh auto;
    width: 80%;
  }
}
